.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  text-align: center;
  display: grid;
  margin: 3px;
  grid-template-columns: 3fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas: 
  "JournalEntry AddEntry";
}

.JournalEntry {
  grid-area: JournalEntry;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas:
  "JournalText UpdateTime" ;
}

.JournalText {
  grid-area: JournalText;
  
}

.UpdateTime {
  grid-area: UpdateTime;
  font-size: x-small;
}

.AddEntry {
  grid-area: AddEntry;
}


