.App {
  text-align: center;
  display: grid;
  margin: 3px;
  grid-template-columns: [first] 20% [line2] 50% [line3] 30%;
  grid-auto-rows: auto;
  grid-template-areas: 
  "StatBlock NameBlock TbdBlock"
  "StatBlock TestFormat TbdBlock";
}

.statDisp {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border-style: groove;
  border-width: 1px;
  border-radius: .5em;
}

.statNum {
  border-image-width: 1px;
  border-style: groove;
  border-color: black;
  border-radius: .5em;
  border-width: 1px;
}

.mathButton {
  height:30%;
  width:30%;
  margin-left: 45%;
  margin-top: 45%;
}

.StatBlock {
  grid-area: StatBlock;
}
.NameBlock {
  grid-area: NameBlock;
}
.TbdBlock {
  grid-area: TbdBlock;
}
#TestFormat {
  grid-area: TestFormat;
  border-style: groove;
  border-radius: .5em;
  border-width: 1px;
}
